<p><a href="<%= post_path(id) %>"><b><%= title %></b></a> &nbsp;<i>(<a href="<%= edit_post_path(id) %>">edit</a>) (<a href="<%= details_post_path(id) %>">Handlebars</a>)</i></p>
<p><%= body %></p>
<a class="js-destroy" href="#">Удалить</a>